.idea
cmake-build-debug/*
clang-debug/*
*.hpp~
*.cpp~
*.a
*.o
*.txt~
*.cc~
*.h~
*.py~
*.cfg~
rel2/
external_tools/*
relwithdebinfo/*
release127/*
release128/*
release/*
release152/*
debug/*
debug_numa/*
debug_nlevel/*
i10pc127/*
i10pc128/*
i10pc129/*
i10pc130/*
debug2/*
tuning/*
debug152/*
profile/*
external_tools/*
.vscode/*
example_1
example_2
example_3
config/nlevel_interleaved_preset.ini
lib/examples/example
python/tests/os
python/tests/unittest
python/tests/*.so
python/examples/*.so
compile_commands.json
run_*
test_results*.txt
result_*.txt
result4run_example_random_test_hg.txt
_experimental_results/large_hg.txt
_experimental_results/medium_hg.txt
_try*
*.sh
build*
_debug*
instances/*
MtKaHyPar_*_pimod*
mt_kahypar_*.part
mt_kahypar_*.results*
*.so
*.so.*