.idea
cmake-build-debug/*
clang-debug/*
*.hpp~
*.cpp~
*.a
*.o
*.txt~
*.cc~
*.h~
*.py~
*.cfg~
build/*
build2/*
build_numa/*
build_nlevel/*
build_interleaved/*
rel2/
external_tools/*
relwithdebinfo/*
release127/*
release128/*
release/*
release152/*
debug/*
debug_numa/*
debug_nlevel/*
i10pc127/*
i10pc128/*
i10pc129/*
i10pc130/*
debug2/*
tuning/*
debug152/*
profile/*
external_tools/*
.vscode/*
example_1
example_2
example_3
config/nlevel_interleaved_preset.ini
lib/examples/example
python/tests/os
python/tests/unittest
python/tests/*.so
python/examples/*.so
compile_commands.json
build*
run_*
test_results*.txt
result_*.txt
result4run_example_random_test_hg.txt
192bit.mtx.hgr.random100
circuit5M.mtx.hgr.weighted.hgr
hmetis.perl
hugebubbles-00010.mtx.hgr.weighted.hgr
ibm08.are
ibm08.net
large_hg.txt
medium_hg_.txt
medium_hg.txt
vas_stokes_4M.mtx.hgr.copy
wb-edu.mtx.hgr.weighted.hgr.copy
Zhao2.mtx.hgr.random100.rendered.copy
_experimental_results/large_hg.txt
_experimental_results/medium_hg.txt
nonexclusive_build.sh
nonexclusive_run_build_test_suite.sh
nonexclusive_run_example.sh
nonexclusive_run_test.sh
